<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiu.followdouban.commonservice.mapper.MovieMapper">
  <resultMap id="BaseResultMap" type="com.xiu.followdouban.commonrpc.model.Movie">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="director" jdbcType="VARCHAR" property="director" />
    <result column="screen_writer" jdbcType="VARCHAR" property="screenWriter" />
    <result column="lead_actor" jdbcType="VARCHAR" property="leadActor" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="filmmaking_area" jdbcType="VARCHAR" property="filmmakingArea" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="release_time" jdbcType="VARCHAR" property="releaseTime" />
    <result column="movie_length" jdbcType="VARCHAR" property="movieLength" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="score" jdbcType="REAL" property="score" />
    <result column="evaluate_number" jdbcType="INTEGER" property="evaluateNumber" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="set_number" jdbcType="INTEGER" property="setNumber" />
    <result column="quaternary_number" jdbcType="INTEGER" property="quaternaryNumber" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xiu.followdouban.commonrpc.model.Movie">
    <result column="synopsis" jdbcType="LONGVARCHAR" property="synopsis" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, director, screen_writer, lead_actor, tag, type, filmmaking_area, language, 
    release_time, movie_length, alias, score, evaluate_number, picture, link, set_number, 
    quaternary_number
  </sql>
  <sql id="Blob_Column_List">
    synopsis
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.xiu.followdouban.commonrpc.model.MovieExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.xiu.followdouban.commonrpc.model.MovieExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.xiu.followdouban.commonrpc.model.MovieExample">
    delete from movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xiu.followdouban.commonrpc.model.Movie">
    insert into movie (id, name, director, 
      screen_writer, lead_actor, tag, 
      type, filmmaking_area, language, 
      release_time, movie_length, alias, 
      score, evaluate_number, picture, 
      link, set_number, quaternary_number, 
      synopsis)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{director,jdbcType=VARCHAR}, 
      #{screenWriter,jdbcType=VARCHAR}, #{leadActor,jdbcType=VARCHAR}, #{tag,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{filmmakingArea,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, 
      #{releaseTime,jdbcType=VARCHAR}, #{movieLength,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, 
      #{score,jdbcType=REAL}, #{evaluateNumber,jdbcType=INTEGER}, #{picture,jdbcType=VARCHAR}, 
      #{link,jdbcType=VARCHAR}, #{setNumber,jdbcType=INTEGER}, #{quaternaryNumber,jdbcType=INTEGER}, 
      #{synopsis,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiu.followdouban.commonrpc.model.Movie">
    insert into movie
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="director != null">
        director,
      </if>
      <if test="screenWriter != null">
        screen_writer,
      </if>
      <if test="leadActor != null">
        lead_actor,
      </if>
      <if test="tag != null">
        tag,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="filmmakingArea != null">
        filmmaking_area,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="movieLength != null">
        movie_length,
      </if>
      <if test="alias != null">
        alias,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="evaluateNumber != null">
        evaluate_number,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="setNumber != null">
        set_number,
      </if>
      <if test="quaternaryNumber != null">
        quaternary_number,
      </if>
      <if test="synopsis != null">
        synopsis,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="director != null">
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="screenWriter != null">
        #{screenWriter,jdbcType=VARCHAR},
      </if>
      <if test="leadActor != null">
        #{leadActor,jdbcType=VARCHAR},
      </if>
      <if test="tag != null">
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="filmmakingArea != null">
        #{filmmakingArea,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=VARCHAR},
      </if>
      <if test="movieLength != null">
        #{movieLength,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=REAL},
      </if>
      <if test="evaluateNumber != null">
        #{evaluateNumber,jdbcType=INTEGER},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="setNumber != null">
        #{setNumber,jdbcType=INTEGER},
      </if>
      <if test="quaternaryNumber != null">
        #{quaternaryNumber,jdbcType=INTEGER},
      </if>
      <if test="synopsis != null">
        #{synopsis,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xiu.followdouban.commonrpc.model.MovieExample" resultType="java.lang.Long">
    select count(*) from movie
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update movie
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.director != null">
        director = #{record.director,jdbcType=VARCHAR},
      </if>
      <if test="record.screenWriter != null">
        screen_writer = #{record.screenWriter,jdbcType=VARCHAR},
      </if>
      <if test="record.leadActor != null">
        lead_actor = #{record.leadActor,jdbcType=VARCHAR},
      </if>
      <if test="record.tag != null">
        tag = #{record.tag,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.filmmakingArea != null">
        filmmaking_area = #{record.filmmakingArea,jdbcType=VARCHAR},
      </if>
      <if test="record.language != null">
        language = #{record.language,jdbcType=VARCHAR},
      </if>
      <if test="record.releaseTime != null">
        release_time = #{record.releaseTime,jdbcType=VARCHAR},
      </if>
      <if test="record.movieLength != null">
        movie_length = #{record.movieLength,jdbcType=VARCHAR},
      </if>
      <if test="record.alias != null">
        alias = #{record.alias,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=REAL},
      </if>
      <if test="record.evaluateNumber != null">
        evaluate_number = #{record.evaluateNumber,jdbcType=INTEGER},
      </if>
      <if test="record.picture != null">
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.link != null">
        link = #{record.link,jdbcType=VARCHAR},
      </if>
      <if test="record.setNumber != null">
        set_number = #{record.setNumber,jdbcType=INTEGER},
      </if>
      <if test="record.quaternaryNumber != null">
        quaternary_number = #{record.quaternaryNumber,jdbcType=INTEGER},
      </if>
      <if test="record.synopsis != null">
        synopsis = #{record.synopsis,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update movie
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      director = #{record.director,jdbcType=VARCHAR},
      screen_writer = #{record.screenWriter,jdbcType=VARCHAR},
      lead_actor = #{record.leadActor,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      filmmaking_area = #{record.filmmakingArea,jdbcType=VARCHAR},
      language = #{record.language,jdbcType=VARCHAR},
      release_time = #{record.releaseTime,jdbcType=VARCHAR},
      movie_length = #{record.movieLength,jdbcType=VARCHAR},
      alias = #{record.alias,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=REAL},
      evaluate_number = #{record.evaluateNumber,jdbcType=INTEGER},
      picture = #{record.picture,jdbcType=VARCHAR},
      link = #{record.link,jdbcType=VARCHAR},
      set_number = #{record.setNumber,jdbcType=INTEGER},
      quaternary_number = #{record.quaternaryNumber,jdbcType=INTEGER},
      synopsis = #{record.synopsis,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update movie
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      director = #{record.director,jdbcType=VARCHAR},
      screen_writer = #{record.screenWriter,jdbcType=VARCHAR},
      lead_actor = #{record.leadActor,jdbcType=VARCHAR},
      tag = #{record.tag,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      filmmaking_area = #{record.filmmakingArea,jdbcType=VARCHAR},
      language = #{record.language,jdbcType=VARCHAR},
      release_time = #{record.releaseTime,jdbcType=VARCHAR},
      movie_length = #{record.movieLength,jdbcType=VARCHAR},
      alias = #{record.alias,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=REAL},
      evaluate_number = #{record.evaluateNumber,jdbcType=INTEGER},
      picture = #{record.picture,jdbcType=VARCHAR},
      link = #{record.link,jdbcType=VARCHAR},
      set_number = #{record.setNumber,jdbcType=INTEGER},
      quaternary_number = #{record.quaternaryNumber,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>